<h1>Stack Overflow Clone</h1>
<a href ="/questions/new">Questions</a>
<ul>
    {{#each questions}}
    <li>
       <a href= '/questions/{{this.id}}''>Type:
    {{this.title}}</a>
    {{!-- </li>
    <li> --}}
        <p>Question: {{this.question}}</p>
    {{!-- </li>
    <li> --}}
        <p>Answer: {{this.answer}}</p>
    {{!-- </li>
    <li> --}}
        <p>Date: {{this.date}}</p>
    </li>
    {{/each}}
</ul>

<a href="questions/new">New</a>