<h1>{{questions}}</h1>



{{!-- <ul>
    {{#each questions}}
    <li>
        <h2>Type: <a href ="/{{this.id}}">{{this.title}}</a></h2>
    </li>
    <li>
        <p>Question: {{this.question}}</p>
    </li>
    <li>
        <p>Answer: {{this.answer}}</p>
    </li>
    <li>
        <p>Date: {{this.date}}</p>
    </li>
</ul> --}}