<div>
    <h1> Type:{{this.question}}</h1>
    <p>{{this.description}}</p>
    <code> const abc = () =>{
        console.log(abc)}
    </code>
    <p>
    <time datetime="1914-12-20T08:00">{{this.date}}</time>
    </p>
    <div>
    <form action="/questions/{{this.id}}?_method=put" method="post">
        
            <label>Answer:</label>
            <textarea></textarea>
            {{!-- <input type="text" value="{{this.answer}}" name="answer" /> --}}
        
       
        {{!-- <input type="submit" value="Update" /> --}}
    </form>
    <a href='/questions/edit/id'> <button>Post Your Answer</button></a>

    </div>
    
</div>  





{{!-- <ul>
  
    <li>
        <h1>>Type:{{this.title}}</h1>
    </li>
    <li>
        <p>Question: {{this.question}}</p>
    </li>
    <li>
        <p>Answer: {{this.answer}}</p>
    </li>
    <li>
        <p>Date: {{this.date}}</p>
    </li>
   
</ul>  --}}