<h1>{{ title }}</h1>
<ul>
    <li>Description: {{ description }}</li>
    <li>User: {{ user }}</li>
    <li>Date: {{ postDate }}</li>
    
    <a href='/questions/edit/{{id}}'>Edit</a>
</ul>
<ul>
    {{#each answer}}
    <li>Answer: {{this}}
       
    </li>
    {{/each}}
</ul>
<form action="/questions/{{id}}" method="post">
   
    <input type="text" name="answer" placeholder="answer">
    <input type="submit">
</form>
