<div>
    <h1> Type:{{this.title}}</h1>
    <p>{{this.question}}</p>
    <code> const abc = () =>{
        console.log(abc)}
    </code>
    <p>
    <time datetime="1914-12-20T08:00">{{this.date}}</time>
    </p>
</div>  







{{!-- <ul>
  
    <li>
        <h1>>Type:{{this.title}}</h1>
    </li>
    <li>
        <p>Question: {{this.question}}</p>
    </li>
    <li>
        <p>Answer: {{this.answer}}</p>
    </li>
    <li>
        <p>Date: {{this.date}}</p>
    </li>
   
</ul>  --}}