<a href='/questions/{{this.id}}'>{{question}}</a>

<a href='/questions'>Questions</a> 

<ul>
    {{#each question}}
    <li>
        <h2>Type: <a href ="/{{this.id}}">{{this.title}}</a></h2>
    </li>
    <li>
        <p>Question: {{this.question}}</p>
    </li>
    <li>
        <p>Answer: {{this.answer}}</p>
    </li>
    <li>
        <p>Date: {{this.date}}</p>
    </li>
    {{/each}}
</ul> 