<div>
    <h1> Type:{{this.question}}</h1>
    <p>Description:{{this.description}}</p>
    <code> const abc = () =>{
        console.log(abc)}
    </code>
    <p>
    <time datetime="1914-12-20T08:00">{{this.date}}</time>
    <a href='/questions/edit/id'></a>
    </p>

<ul>
    {{#each answer}}
    <li>Answer:{{this}}
<button>Post Your Answer</button><button>Edit</button></a>
</li>
{{/each}}
</ul>

    


    
</div>  





{{!-- <ul>
  
    <li>
        <h1>>Type:{{this.title}}</h1>
    </li>
    <li>
        <p>Question: {{this.question}}</p>
    </li>
    <li>
        <p>Answer: {{this.answer}}</p>
    </li>
    <li>
        <p>Date: {{this.date}}</p>
    </li>
   
</ul>  --}}