<h1>{{ title }}</h1>
<ul>
    <li>Description: {{ description }}</li>
    <li>User: {{ user }}</li>
    <li>Date: {{ postDate }}</li>
    <a href='/questions/edit/{{id}}'>Edit</a>
</ul>
<ul>
    {{#each answers}}
    <li>Answer: {{this}}
        <button>Edit Answer</button>
    </li>
    {{/each}}
</ul>
